<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		
		<div class="card bg-light">
		
			<div class="card-header" th:text="${titulo}"></div>
		
			<div class="card-body">
				<img th:if="${#strings.length(proveedor.foto) >0 }"
					class="img-thumbnail rounded float-left" style="max-width: 25%;"
					th:src="@{'/uploads/' + ${proveedor.foto}} " th:alt="${proveedor.foto}" />
				
				
				<ul class="list-group">
				
					<li class="list-group-item" th:text="${proveedor.nombre}"></li>
					<li class="list-group-item" th:text="${proveedor.apellido}"></li>
					<li class="list-group-item" th:text="${proveedor.email}"></li>
					<li class="list-group-item" th:text="${proveedor.telefono}"></li>
					<li class="list-group-item" th:text="${proveedor.ciudad}"></li>
				    <li class="list-group-item" th:text="${proveedor.empresa}"></li>
					
						
				</ul>

				


			</div>
		</div>
		<!--Hola!, soy un comentario en html-->

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>